In [1]:
import matplotlib.pyplot as pyplot
import pandas as pd

In [3]:
df=pd.read_csv('jersey-rainfall-1984-to-2021.csv',index_col='Year')
df.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,YearTotalmm
Year,,,,,,,,,,,,,
1894,121.9,44.1,42.1,83.6,58.4,43.9,156.3,99.0,63.4,59.6,92.7,48.0,913.0
1895,91.8,2.9,51.6,39.4,1.5,42.1,76.9,65.1,9.4,177.7,110.8,129.2,798.4
1896,27.5,9.2,56.3,17.2,10.1,54.8,23.7,66.0,192.2,133.7,47.8,117.7,756.2
1897,64.3,56.9,90.2,84.8,47.9,87.0,14.9,140.5,92.8,26.0,33.6,97.5,836.4
1898,20.1,47.5,39.7,32.5,104.8,56.3,22.6,60.3,31.9,81.2,82.0,112.4,691.3